# CONFIG_BATTERY_CW2015 is not set
# CONFIG_BATTERY_CW2017 is not set
# CONFIG_BATTERY_CW221X is not set
# CONFIG_BATTERY_RK817 is not set
# CONFIG_BATTERY_RK818 is not set
# CONFIG_CHARGER_BQ25700 is not set
# CONFIG_CHARGER_BQ25890 is not set
# CONFIG_CHARGER_RK817 is not set
# CONFIG_CHARGER_RK818 is not set
# CONFIG_CHARGER_SC8551 is not set
# CONFIG_CHARGER_SC89890 is not set
# CONFIG_CHARGER_SGM41542 is not set
# CONFIG_CPU_PX30 is not set
# CONFIG_CPU_RK3328 is not set
# CONFIG_CPU_RK3368 is not set
# CONFIG_CPU_RK3399 is not set
# CONFIG_CPU_RK3562 is not set
# CONFIG_CPU_RK3568 is not set
# CONFIG_CPU_RK3576 is not set
# CONFIG_CPU_RK3588 is not set
# CONFIG_DRM_ROCKCHIP_RK618 is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_LEDS_RGB13H is not set
# CONFIG_MALI_BIFROST is not set
# CONFIG_MALI_MIDGARD is not set
# CONFIG_REGULATOR_ACT8865 is not set
# CONFIG_REGULATOR_FAN53555 is not set
# CONFIG_REGULATOR_LP8752 is not set
# CONFIG_REGULATOR_MP8865 is not set
# CONFIG_REGULATOR_TPS65132 is not set
# CONFIG_REGULATOR_WL2868C is not set
# CONFIG_REGULATOR_XZ3216 is not set
# CONFIG_ROCKCHIP_ANALOGIX_DP is not set
# CONFIG_ROCKCHIP_CDN_DP is not set
# CONFIG_ROCKCHIP_DW_DP is not set
# CONFIG_ROCKCHIP_DW_MIPI_DSI is not set
# CONFIG_ROCKCHIP_DW_MIPI_DSI2 is not set
# CONFIG_ROCKCHIP_LVDS is not set
# CONFIG_ROCKCHIP_RGB is not set
# CONFIG_ROCKCHIP_RKNPU is not set
# CONFIG_SENSOR_DEVICE is not set
# CONFIG_VIDEO_AW8601 is not set
# CONFIG_VIDEO_CAMERA_SENSOR is not set
# CONFIG_VIDEO_CES6301 is not set
# CONFIG_VIDEO_CN3927V is not set
# CONFIG_VIDEO_DW9714 is not set
# CONFIG_VIDEO_DW9763 is not set
# CONFIG_VIDEO_FP5510 is not set
# CONFIG_VIDEO_ROCKCHIP_CIF is not set
# CONFIG_VIDEO_ROCKCHIP_ISP is not set
# CONFIG_VIDEO_ROCKCHIP_ISPP is not set
# CONFIG_VIDEO_VM149C is not set
CONFIG_VLAN_8021Q=y
# CONFIG_BRIDGE_VLAN_FILTERING is not set
# CONFIG_VLAN_8021Q_GVRP is not set
# CONFIG_VLAN_8021Q_MVRP is not set
