// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2023 IEI World Co., Ltd.
 * Author: Wig Cheng <wigcheng@ieiworld.com>
 *
 */

/dts-v1/;

#include "dt-bindings/usb/pd.h"
#include "rk3588.dtsi"
#include "rk3588-evb.dtsi"
#include "rk3588-rk806-single.dtsi"
#include "rk3588-android.dtsi"

/ {

	model = "IEI WAFER-RK3588 Single Board Computer";
	compatible = "iei,rk3588-b675", "rockchip,rk3588";

	/* If hdmirx node is disabled, delete the reserved-memory node here. */
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* Reserve 128MB memory for hdmirx-controller@fdee0000 */
		cma {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x0 (256 * 0x100000) 0x0 (128 * 0x100000)>;
			linux,cma-default;
		};
	};

	hdmiin_dc: hdmiin-dc {
		compatible = "rockchip,dummy-codec";
		#sound-dai-cells = <0>;
		status = "okay";
	};

	hdmiin-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "rockchip,hdmiin";
		simple-audio-card,bitclock-master = <&dailink0_master>;
		simple-audio-card,frame-master = <&dailink0_master>;
		status = "okay";
		simple-audio-card,cpu {
			sound-dai = <&i2s7_8ch>;
		};
		dailink0_master: simple-audio-card,codec {
			sound-dai = <&hdmiin_dc>;
		};
	};

	pcie20_avdd1v8: pcie20-avdd1v8 {
		compatible = "regulator-fixed";
		regulator-name = "pcie20_avdd1v8";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&avcc_1v8_s0>;
	};

	pcie30_avdd0v75: pcie30-avdd0v75 {
		compatible = "regulator-fixed";
		regulator-name = "pcie30_avdd0v75";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <750000>;
		regulator-max-microvolt = <750000>;
		vin-supply = <&avdd_0v75_s0>;
	};

	pcie30_avdd1v8: pcie30-avdd1v8 {
		compatible = "regulator-fixed";
		regulator-name = "pcie30_avdd1v8";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&avcc_1v8_s0>;
	};

	rk_headset: rk-headset {
		status = "disabled";
		compatible = "rockchip_headset";
		headset_gpio = <&gpio1 RK_PD5 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
		io-channels = <&saradc 3>;
	};

	vbus5v0_typec: vbus5v0-typec {
		compatible = "regulator-fixed";
		regulator-name = "vbus5v0_typec";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio4 RK_PA1 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_usb>;
		pinctrl-names = "default";
		pinctrl-0 = <&typec5v_pwren>;
	};

	vcc_1v1_nldo_s3: vcc-1v1-nldo-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v1_nldo_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1100000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc3v3_lcd_n: vcc3v3-lcd0-n {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_lcd0_n";
		regulator-always-on;
		regulator-boot-on;
		enable-active-high;
		gpio = <&gpio3 RK_PA6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&panel_en>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

	};

	vcc3v3_lvds_lcd_n: vcc3v3-lvds-lcd0-n {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_lvds_lcd0_n";
		regulator-always-on;
		regulator-boot-on;
		enable-active-high;
		gpio = <&gpio2 RK_PC1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&lvds_lcd_en>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
    vcc2v8_camera1_dvp: camera1-avdd-2v8 {
        compatible = "regulator-fixed";
        regulator-name = "camera1_avdd";
        regulator-min-microvolt = <2800000>;
        regulator-max-microvolt = <2800000>;
		regulator-always-on;
        regulator-boot-on;
        enable-active-high;
    };

    vcc1v8_camera1_dvp: camera1-dovdd-1v8 {
        compatible = "regulator-fixed";
        regulator-name = "camera1_dovdd";
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
        regulator-always-on;
        regulator-boot-on;
		enable-active-high;
    };

    vdd1v5_camera1_dvp: camera1-dvdd-1v5 {
        compatible = "regulator-fixed";
        regulator-name = "camera1_dvdd";
        regulator-min-microvolt = <1500000>;
        regulator-max-microvolt = <1500000>;
	    regulator-always-on;
        regulator-boot-on;
		enable-active-high;
    };


	vcc3v3_pcie30: vcc3v3-pcie30 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie30";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpios = <&gpio2 RK_PC5 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <5000>;
		vin-supply = <&vcc12v_dcin>;
	};

	vcc5v0_host: vcc5v0-host {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		vin-supply = <&vcc5v0_usb>;
		pinctrl-names = "default";
	};

	vcc_mipicsi0: vcc-mipicsi0-regulator {
		compatible = "regulator-fixed";
		gpio = <&gpio1 RK_PB1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&mipicsi0_pwr>;
		regulator-name = "vcc_mipicsi0";
		enable-active-high;
	};

	vcc_mipicsi1: vcc-mipicsi1-regulator {
		compatible = "regulator-fixed";
		gpio = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&mipicsi1_pwr>;
		regulator-name = "vcc_mipicsi1";
		enable-active-high;
	};

	vcc_mipidcphy0: vcc-mipidcphy0-regulator {
		compatible = "regulator-fixed";
		gpio = <&gpio2 RK_PC4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&mipidcphy0_pwr>;
		regulator-name = "vcc_mipidcphy0";
		enable-active-high;
	};

	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		//clocks = <&hym8563>;
		clock-names = "ext_clock";
		uart_rts_gpios = <&gpio3 RK_PA4 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart8m1_rtsn>, <&bt_reset_gpio>, <&bt_wake_gpio>, <&bt_irq_gpio>;
		pinctrl-1 = <&uart8_gpios>;
		BT,reset_gpio    = <&gpio3 RK_PA6 GPIO_ACTIVE_HIGH>;
		BT,wake_gpio     = <&gpio3 RK_PA1 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio3 RK_PA0 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};

	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		wifi_chip_type = "ap6255";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake_irq>, <&wifi_poweren_gpio>;
		WIFI,host_wake_irq = <&gpio3 RK_PA7 GPIO_ACTIVE_HIGH>;
		WIFI,poweren_gpio = <&gpio3 RK_PB1 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};

	backlight_lvds: backlight-lvds {
		compatible = "pwm-backlight";
		brightness-levels = <
			0   1   2   3   4   5   6   7
			8   9  10  11  12  13  14  15
			16  17  18  19  20  21  22  23
			24  25  26  27  28  29  30  31
			32  33  34  35  36  37  38  39
			40  41  42  43  44  45  46  47
			48  49  50  51  52  53  54  55
			56  57  58  59  60  61  62  63
			64  65  66  67  68  69  70  71
			72  73  74  75  76  77  78  79
			80  81  82  83  84  85  86  87
			88  89  90  91  92  93  94  95
			96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <200>;
		pwms = <&pwm2 0 25000 0>;
		enable-gpios = <&gpio4 RK_PD1 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&backlight {
	pwms = <&pwm13 0 25000 0>;
	enable-gpios = <&gpio3 RK_PB2 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&combphy0_ps {
	status = "okay";
};

&combphy1_ps {
	status = "okay";
};

&combphy2_psu {
	status = "okay";
};

&dp0 {
	status = "okay";
};

&dp0_in_vp2 {
	status = "okay";
};

&dp0_sound{
	status = "okay";
};

&dp1 {
	pinctrl-names = "default";
	pinctrl-0 = <&dp1_hpd>;
	hpd-gpios = <&gpio1 RK_PB5 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&dp1_in_vp2 {
	status = "okay";
};

/*
 * mipi_dcphy0 needs to be enabled
 * when dsi0 is enabled
 */
&dsi0 {
	status = "okay";
};

&dsi0_in_vp2 {
	status = "disabled";
};

&dsi0_in_vp3 {
	status = "okay";
};

// TQ101AJ02
&dsi0_panel {
	power-supply = <&vcc3v3_lcd_n>;
	panel-init-sequence = [
        //Page0
        15 00 02 E0 00

        //--- PASSWORD  ----//
        15 00 02 E1 93
        15 00 02 E2 65
        15 00 02 E3 F8
        15 00 02 80 03

        //Page4
        15 00 02 E0 04
        15 00 02 2D 03

        //--- Page1  ----//
        15 00 02 E0 01

        //Set VCOM
        15 00 02 00 00
        15 00 02 01 5C
        15 00 02 03 00
        15 00 02 04 68

        //Set Gamma Power, VGMP,VGMN,VGSP,VGSN
        15 00 02 17 00
        15 00 02 18 D7
        15 00 02 19 01
        15 00 02 1A 00
        15 00 02 1B D7
        15 00 02 1C 01

        //Set Gate Power
        15 00 02 1F 6B
        15 00 02 20 29
        15 00 02 21 29
        15 00 02 22 7E

        15 00 02 37 59

        15 00 02 35 28

        //SET RGBCYC
        15 00 02 38 05
        15 00 02 39 08
        15 00 02 3A 12
        15 00 02 3C 7E
        15 00 02 3D FF
        15 00 02 3E FF
        15 00 02 3F 7F

        //Set TCON
        15 00 02 40 06
        15 00 02 41 A0
        15 00 02 43 1E
        15 00 02 44 0B

        //--- power voltage  ----//
        15 00 02 55 01
        15 00 02 56 01
        15 00 02 57 69
        15 00 02 58 0A
        15 00 02 59 2A
        15 00 02 5A 29
        15 00 02 5B 15
        15 00 02 5C 16

        //--- Gamma----//G2.2
        15 00 02 5D 64
        15 00 02 5E 50
        15 00 02 5F 43
        15 00 02 60 38
        15 00 02 61 36
        15 00 02 62 29
        15 00 02 63 2F
        15 00 02 64 1B
        15 00 02 65 35
        15 00 02 66 35
        15 00 02 67 35
        15 00 02 68 53
        15 00 02 69 41
        15 00 02 6A 47
        15 00 02 6B 38
        15 00 02 6C 34
        15 00 02 6D 27
        15 00 02 6E 19
        15 00 02 6F 12
        15 00 02 70 64
        15 00 02 71 50
        15 00 02 72 43
        15 00 02 73 38
        15 00 02 74 36
        15 00 02 75 29
        15 00 02 76 2F
        15 00 02 77 1B
        15 00 02 78 35
        15 00 02 79 35
        15 00 02 7A 35
        15 00 02 7B 53
        15 00 02 7C 41
        15 00 02 7D 47
        15 00 02 7E 38
        15 00 02 7F 34
        15 00 02 80 27
        15 00 02 81 19
        15 00 02 82 12

        //Page2, for GIP
        15 00 02 E0 02

        //GIP_L Pin mapping
        15 00 02 00 53
        15 00 02 01 5F
        15 00 02 02 5F
        15 00 02 03 5F
        15 00 02 04 5F
        15 00 02 05 51
        15 00 02 06 77
        15 00 02 07 57
        15 00 02 08 4F
        15 00 02 09 5F
        15 00 02 0A 4D
        15 00 02 0B 4B
        15 00 02 0C 5F
        15 00 02 0D 49
        15 00 02 0E 47
        15 00 02 0F 45
        15 00 02 10 41
        15 00 02 11 5F
        15 00 02 12 5F
        15 00 02 13 5F
        15 00 02 14 5F
        15 00 02 15 5F

        //GIP_R Pin mapping
        15 00 02 16 52
        15 00 02 17 5F
        15 00 02 18 5F
        15 00 02 19 5F
        15 00 02 1A 5F
        15 00 02 1B 50
        15 00 02 1C 77
        15 00 02 1D 57
        15 00 02 1E 4E
        15 00 02 1F 5F
        15 00 02 20 4C
        15 00 02 21 4A
        15 00 02 22 5F
        15 00 02 23 48
        15 00 02 24 46
        15 00 02 25 44
        15 00 02 26 40
        15 00 02 27 5F
        15 00 02 28 5F
        15 00 02 29 5F
        15 00 02 2A 5F
        15 00 02 2B 5F

        //GIP_L_GS Pin mapping
        15 00 02 2C 12
        15 00 02 2D 1F
        15 00 02 2E 1F
        15 00 02 2F 1F
        15 00 02 30 1F
        15 00 02 31 00
        15 00 02 32 17
        15 00 02 33 17
        15 00 02 34 04
        15 00 02 35 1F
        15 00 02 36 06
        15 00 02 37 08
        15 00 02 38 1F
        15 00 02 39 0A
        15 00 02 3A 0C
        15 00 02 3B 0E
        15 00 02 3C 10
        15 00 02 3D 1F
        15 00 02 3E 1F
        15 00 02 3F 1F
        15 00 02 40 1F
        15 00 02 41 1F

        //GIP_R_GS Pin mapping
        15 00 02 42 13
        15 00 02 43 1F
        15 00 02 44 1F
        15 00 02 45 1F
        15 00 02 46 1F
        15 00 02 47 01
        15 00 02 48 17
        15 00 02 49 17
        15 00 02 4A 05
        15 00 02 4B 1F
        15 00 02 4C 07
        15 00 02 4D 09
        15 00 02 4E 1F
        15 00 02 4F 0B
        15 00 02 50 0D
        15 00 02 51 0F
        15 00 02 52 11
        15 00 02 53 1F
        15 00 02 54 1F
        15 00 02 55 1F
        15 00 02 56 1F
        15 00 02 57 1F

        //GIP Timing
        15 00 02 58 00
        15 00 02 59 00
        15 00 02 5A 00
        15 00 02 5B 10
        15 00 02 5C 04
        15 00 02 5D 40
        15 00 02 5E 00
        15 00 02 5F 00
        15 00 02 60 40
        15 00 02 61 03
        15 00 02 62 04
        15 00 02 63 70
        15 00 02 64 70
        15 00 02 65 75
        15 00 02 66 0B
        15 00 02 67 B4
        15 00 02 68 06
        15 00 02 69 70
        15 00 02 6A 70
        15 00 02 6B 04
        15 00 02 6C 00
        15 00 02 6D 04
        15 00 02 6E 00
        15 00 02 6F 88
        15 00 02 70 00
        15 00 02 71 00
        15 00 02 72 06
        15 00 02 73 7B
        15 00 02 74 00
        15 00 02 75 BC
        15 00 02 76 00
        15 00 02 77 05
        15 00 02 78 2A
        15 00 02 79 00
        15 00 02 7A 00
        15 00 02 7B 00
        15 00 02 7C 00
        15 00 02 7D 03
        15 00 02 7E 7B

        //Page4
        15 00 02 E0 04
        15 00 02 0E 48
        15 00 02 09 10
        15 00 02 2B 2B
        15 00 02 2E 44

        //Page0
        15 00 02 E0 00
        15 00 02 E6 02
        15 00 02 E7 06

        //SLP OUT
        05 78 01 11

        //DISP ON
        05 05 01 29

        //--- TE----//
        15 00 02 35 00

        //Page0
        15 00 02 E0 00
    ];

    panel-exit-sequence = [
        05 00 01 00
    ];

    disp_timings0: display-timings {
        dsi0_timing0: timing0 {
            clock-frequency = <67700000>;
            hactive = <800>;
            vactive = <1280>;
            hback-porch = <18>;
            hfront-porch = <18>;
            vback-porch = <8>;
            vfront-porch = <30>;
            hsync-len = <18>;
            vsync-len = <4>;
        };
    };
};

&pwm13 {
	status = "okay";
};

/*
 * mipi_dcphy1 needs to be enabled
 * when dsi1 is enabled
 */
&dsi1 {
	status = "okay";
};

&dsi1_in_vp2 {
	status = "okay";
};

&dsi1_in_vp3 {
	status = "disabled";
};

// TC358774
&dsi1_panel {
	power-supply = <&vcc3v3_lvds_lcd_n>;
	reset-gpios = <&gpio4 RK_PC2 GPIO_ACTIVE_LOW>;
	enable-delay-ms = <20>;
	prepare-delay-ms = <120>;
	unprepare-delay-ms = <120>;
	disable-delay-ms = <20>;
	/delete-property/ reset-delay-ms;
	pinctrl-names = "default";
	pinctrl-0 = <&lvds_lcd_rst>;
	backlight = <&backlight_lvds>;

	panel-init-sequence = [
		// TC358774/75XBG DSI Basic Parameters.  Following 10 setting should be pefromed in LP mode
		29 00 06 3C 01 0B 00 08 00
		29 00 06 14 01 07 00 00 00
		29 00 06 64 01 0C 00 00 00
		29 00 06 68 01 0C 00 00 00
		29 00 06 6C 01 0C 00 00 00
		29 00 06 70 01 0C 00 00 00
		29 00 06 34 01 1F 00 00 00
		29 00 06 10 02 1F 00 00 00
		29 00 06 04 01 01 00 00 00
		29 00 06 04 02 01 00 00 00

		// TC358774/75XBG Timing and mode setting
		29 00 06 50 04 20 01 F0 03
		29 00 06 54 04 32 00 B4 00
		29 00 06 58 04 80 07 48 00
		29 00 06 5C 04 0C 00 18 00
		29 00 06 60 04 B0 04 18 00
		29 00 06 64 04 01 00 00 00
		29 01 06 A0 04 06 80 44 00
		29 00 06 A0 04 06 80 04 00
		29 00 06 04 05 04 00 00 00

		// TC358774/75XBG LVDS Color mapping setting
		29 00 06 80 04 00 01 02 03
		29 00 06 84 04 04 07 05 08
		29 00 06 88 04 09 0A 0E 0F
		29 00 06 8C 04 0B 0C 0D 10
		29 00 06 90 04 16 17 11 12
		29 00 06 94 04 13 14 15 1B
		29 00 06 98 04 18 19 1A 06

		// TC358774/75XBG LVDS enable
		29 00 06 9C 04 33 04 00 00
	];

	panel-exit-sequence = [
		05 05 01 28
		05 78 01 10
	];

	disp_timings1: display-timings {
		native-mode = <&dsi1_timing0>;
		dsi1_timing0: timing0 {
			clock-frequency = <168000000>;
			hactive = <1920>;
			hsync-len = <50>;
			hback-porch = <180>;
			hfront-porch = <72>;
			vactive = <1200>;
			vsync-len = <12>;
			vback-porch = <24>;
			vfront-porch = <24>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <0>;
			pixelclk-active = <0>;
		};
	};
};

&gmac1 {
	/* Use rgmii-rxid mode to disable rx delay inside Soc */
	phy-mode = "rgmii-rxid";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&gmac1_miim
		     &gmac1_tx_bus2
		     &gmac1_rx_bus2
		     &gmac1_rgmii_clk
		     &gmac1_rgmii_bus>;

	tx_delay = <0x43>;
	/* rx_delay = <0x3f>; */

	phy-handle = <&rgmii_phy1>;
	status = "okay";
};

&hdmi0 {
	enable-gpios = <&gpio4 RK_PB1 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&hdmi0_in_vp0 {
	status = "okay";
};

&hdmi0_sound {
	status = "okay";
};

&hdmi1 {
	enable-gpios = <&gpio4 RK_PB2 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&hdmi1_in_vp1 {
	status = "okay";
};

&hdmi1_sound {
	status = "okay";
};

/* Should work with at least 128MB cma reserved above. */
&hdmirx_ctrler {
	status = "okay";

	#sound-dai-cells = <1>;
	/* Effective level used to trigger HPD: 0-low, 1-high */
	hpd-trigger-level = <1>;
	hdmirx-det-gpios = <&gpio1 RK_PD5 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&hdmim1_rx &hdmirx_det>;
};

&hdptxphy_hdmi0 {
	status = "okay";
};

&hdptxphy_hdmi1 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0m2_xfer>;

	vdd_cpu_big0_s0: vdd_cpu_big0_mem_s0: rk8602@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_cpu_big0_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vdd_cpu_big1_s0: vdd_cpu_big1_mem_s0: rk8603@43 {
		compatible = "rockchip,rk8603";
		reg = <0x43>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_cpu_big1_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};


&i2c2 {
	status = "okay";

	vdd_npu_s0: vdd_npu_mem_s0: rk8602@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_npu_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <950000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

};


&i2c6 {
	status = "okay";

	rtc: bq32000@68 {
		compatible = "ti,bq32000";
		reg = <0x68>;

                 pinctrl-names = "default";
                 pinctrl-0 = <&bq32000_int>;
                 interrupt-parent = <&gpio0>;
                 interrupts = <RK_PB0 IRQ_TYPE_LEVEL_LOW>;
                 wakeup-source;
	};

	usbc0: fusb302@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PD3 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc0_int>;
		vbus-supply = <&vbus5v0_typec>;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				usbc0_role_sw: endpoint@0 {
					remote-endpoint = <&dwc3_0_role_switch>;
				};
			};
		};

		usb_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			try-power-role = "sink";
			op-sink-microwatt = <1000000>;
			sink-pdos =
				<PDO_FIXED(5000, 1000, PDO_FIXED_USB_COMM)>;
			source-pdos =
				<PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;

			altmodes {
				#address-cells = <1>;
				#size-cells = <0>;

				altmode@0 {
					reg = <0>;
					svid = <0xff01>;
					vdo = <0xffffffff>;
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					usbc0_orien_sw: endpoint {
						remote-endpoint = <&usbdp_phy0_orientation_switch>;
					};
				};

				port@1 {
					reg = <1>;
					dp_altmode_mux: endpoint {
						remote-endpoint = <&usbdp_phy0_dp_altmode_mux>;
					};
				};
			};
		};
	};
};

&i2c7 {
	status = "okay";
	es8388: es8388@11 {
		status = "okay";
		#sound-dai-cells = <0>;
		compatible = "everest,es8388", "everest,es8323";
		reg = <0x11>;
		clocks = <&cru I2S0_8CH_MCLKOUT>;
		clock-names = "mclk";
		assigned-clocks = <&cru I2S0_8CH_MCLKOUT>;
		assigned-clock-rates = <12288000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2s0_mclk>;
	};
};

&i2s5_8ch {
	status = "okay";
};

&i2s6_8ch {
	status = "okay";
};

&i2s7_8ch {
	status = "okay";
};

&mdio0 {
	rgmii_phy: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
	};
};

&mdio1 {
    rgmii_phy1: phy@1 {
        compatible = "ethernet-phy-ieee802.3-c22";
        reg = <0x0>;
    };
};

&mipi_dcphy0 {
	status = "okay";
};

&mipi_dcphy1 {
	status = "okay";
};

&sata2 {
    status = "okay";
};

&pcie2x1l0 {
	reset-gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
	rockchip,skip-scan-in-resume;
	status = "disabled";
};

&pcie2x1l2 {
        phys = <&combphy0_ps PHY_TYPE_PCIE>;
	reset-gpios = <&gpio3 RK_PD1 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie30>;
        status = "okay";
};

&pcie30phy {
	rockchip,pcie30-phymode = <PHY_MODE_PCIE_NANBNB>;
	status = "okay";
};

&pcie3x2 {
        reset-gpios = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
        vpcie3v3-supply = <&vcc3v3_pcie30>;
        status = "okay";
};
&pcie3x4 {
	reset-gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie30>;
	status = "disabled";
};

&pinctrl {
	cam {
		mipicsi0_pwr: mipicsi0-pwr {
			rockchip,pins =
				/* camera power en */
				<1 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		mipicsi1_pwr: mipicsi1-pwr {
			rockchip,pins =
				/* camera power en */
				<1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		mipidcphy0_pwr: mipidcphy0-pwr {
			rockchip,pins =
				/* camera power en */
				<2 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	dp {
		dp1_hpd: dp1-hpd {
			rockchip,pins = <1 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	hdmi {
		hdmirx_det: hdmirx-det {
			rockchip,pins = <1 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>;
		};

        hdmim1_rx: hdmim1-rx {
            rockchip,pins =
                /* hdmim1_rx_cec */
                <3 RK_PD1 5 &pcfg_pull_none>,
                /* hdmim1_rx_scl */
                <3 RK_PD2 5 &pcfg_pull_none_smt>,
                /* hdmim1_rx_sda */
                <3 RK_PD3 5 &pcfg_pull_none_smt>,
                /* hdmim1_rx_hpdin */
                <3 RK_PD4 5 &pcfg_pull_none>;
        };
	};

	headphone {
		hp_det: hp-det {
			rockchip,pins = <1 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

        bq32000 {
                bq32000_int: bq32000-int {
                        rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
                };
        };

	lcd {
		lcd_rst_gpio: lcd-rst-gpio {
			rockchip,pins = <2 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	rtl8111 {
		rtl8111_isolate: rtl8111-isolate {
			rockchip,pins = <1 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};


	usb-typec {
		usbc0_int: usbc0-int {
			rockchip,pins = <0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		typec5v_pwren: typec5v-pwren {
			rockchip,pins = <4 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-bluetooth {
		uart8_gpios: uart8-gpios {
			rockchip,pins = <3 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_reset_gpio: bt-reset-gpio {
			rockchip,pins = <3 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_wake_gpio: bt-wake-gpio {
			rockchip,pins = <3 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_irq_gpio: bt-irq-gpio {
			rockchip,pins = <3 RK_PA0 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <3 RK_PA7 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		wifi_poweren_gpio: wifi-poweren-gpio {
			rockchip,pins = <3 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	panel {
		panel_en: panel-en {
			rockchip,pins = <3 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	touch {
		touch_irq: touch-irq {
			rockchip,pins = <3 RK_PC0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	lvds {
		lvds_lcd_en: lvds-lcd-en {
			rockchip,pins = <2 RK_PC1 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		lvds_lcd_rst: lvds-lcd-rst {
			rockchip,pins = <4 RK_PC2 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	camera {
		camera_en: camera-en {
            rockchip,pins = <1 RK_PD2 RK_FUNC_GPIO &pcfg_pull_up>;
        };

        camera_pwdn: camera-pwdn {
            rockchip,pins = <1 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>;
        };

        camera_rst: camera-rst {
            rockchip,pins = <1 RK_PA7 RK_FUNC_GPIO &pcfg_pull_down>;
        };
	};
};

&pwm2 {
	status = "okay";
};

&route_dsi0 {
	status = "okay";
	connect = <&vp3_out_dsi0>;
};

&route_dsi1 {
	status = "okay";
	connect = <&vp2_out_dsi1>;
};

&spdif_tx2 {
	status = "okay";
};

&u2phy0_otg {
	rockchip,typec-vbus-det;
};

&u2phy1_otg {
	phy-supply = <&vcc5v0_host>;
};

&u2phy2_host {
	phy-supply = <&vcc5v0_host>;
};

&u2phy3_host {
	phy-supply = <&vcc5v0_host>;
};

&uart8 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&uart8m1_xfer &uart8m1_ctsn>;
};

&usbdp_phy0 {
	orientation-switch;
	svid = <0xff01>;
	sbu1-dc-gpios = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>;
	sbu2-dc-gpios = <&gpio4 RK_PA7 GPIO_ACTIVE_HIGH>;

	port {
		#address-cells = <1>;
		#size-cells = <0>;
		usbdp_phy0_orientation_switch: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc0_orien_sw>;
		};

		usbdp_phy0_dp_altmode_mux: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&dp_altmode_mux>;
		};
	};
};

&usbdp_phy1 {
	rockchip,dp-lane-mux = <2 3>;
};

&usbdrd_dwc3_0 {
	dr_mode = "otg";
	usb-role-switch;
	port {
		#address-cells = <1>;
		#size-cells = <0>;
		dwc3_0_role_switch: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc0_role_sw>;
		};
	};
};

&usbhost3_0 {
	status = "disabled";
};

&usbhost_dwc3_0 {
	status = "disabled";
};

&wdt {
    status = "okay";
};

&i2c8 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c8m2_xfer>;
	status = "okay";

	i2c_hid_dev: i2c-hid-dev@2c {
		compatible = "hid-over-i2c";
		reg = <0x2c>;
		hid-descr-addr = <0x0020>;
		pinctrl-names = "default";
		pinctrl-0 = <&touch_irq>;
		interrupt-parent = <&gpio3>;
		interrupts = <RK_PC0 IRQ_TYPE_LEVEL_LOW>;
		touch_reset_gpio = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&i2c4 {
    pinctrl-0 = <&i2c4m1_xfer>;
    status = "okay";

    tc358775x: tc358775x@f {
        compatible = "toshiba,tc358775";
        reg = <0x0f>;
        pinctrl-names = "default";
        pinctrl-0 = <&lvds_lcd_rst>;
    };
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3m0_xfer>;
	status = "okay";

	camera_1: ov5640@3c {
		compatible = "ovti,ov5640";
		reg = <0x3c>;

		clocks = <&cru CLK_MIPI_CAMARAOUT_M1>;
		clock-names = "xvclk";
		pinctrl-names = "default";
		pinctrl-0 = <&mipim0_camera1_clk>, <&camera_en>, <&camera_pwdn>, <&camera_rst>;
		avdd-supply = <&vcc2v8_camera1_dvp>;
		dovdd-supply = <&vcc1v8_camera1_dvp>;
		dvdd-supply = <&vdd1v5_camera1_dvp>;

		pwdn-gpios = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;
		pwr-gpios = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 RK_PA7 GPIO_ACTIVE_LOW>;

		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "ov5640";
		rockchip,camera-module-lens-name = "default";

		mipi_csi;
		status = "okay";

		port {
			camera_1_out: endpoint {
				data-lanes = <1 2>;
				remote-endpoint = <&csidcphy0_in>;
			};
		};
	};
};

&csi2_dcphy0 {
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;
        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            csidcphy0_in: endpoint@1 {
                reg = <1>;
                remote-endpoint = <&camera_1_out>;
                data-lanes = <1 2>;
            };
        };
        port@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;

            csidcphy0_out: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&mipi0_csi2_input>;
            };
        };
    };
};

&mipi0_csi2 {
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            mipi0_csi2_input: endpoint@1 {
                reg = <1>;
                remote-endpoint = <&csidcphy0_out>;
            };
        };

        port@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;

            mipi0_csi2_output: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&cif_mipi_in0>;
                data-lanes = <1 2>;
            };
        };
    };
};

&rkcif {
    status = "okay";
};

&rkcif_mmu {
	status = "okay";
};

&rkcif_mipi_lvds {
    status = "okay";

    port {
        cif_mipi_in0: endpoint {
            remote-endpoint = <&mipi0_csi2_output>;
            data-lanes = <1 2>;
        };
    };
};

&mipidcphy0_grf {
	status = "okay";
};
