// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device tree overlay for a Raspberry Pi Touch Display 2 (7", 720x1280)
 * attached to the MIPI DSI connector of the IEI WAFER-RK3588, driven by
 * DSI0 through the Samsung DCPHY0 transmitter.
 *
 * Copyright (c) 2026 IEI Integration Corp.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/soc/rockchip,vop2.h>

&{/} {
	rpi_display_bl: backlight {
		compatible = "pwm-backlight";
		pwms = <&rpi_panel_mcu 0 255 0>;
	};

	rpi_display_power: regulator-rpi-display {
		compatible = "regulator-fixed";
		regulator-name = "mipi_lcd_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio3 RK_PA6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		startup-delay-us = <10000>;
		regulator-always-on;
	};

	rpi_touch_power: regulator-rpi-touch {
		compatible = "regulator-fixed";
		regulator-name = "rpi-touch";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&rpi_panel_mcu 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <50000>;
	};

	vcc5v_mipi_backlight: regulator-vcc5v-mipi-backlight {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v_mipi_backlight";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
		enable-active-high;
		gpio = <&gpio3 RK_PB2 GPIO_ACTIVE_HIGH>;
	};
};

&dsi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	panel@0 {
		compatible = "raspberrypi,dsi-7inch", "ilitek,ili9881c";
		reg = <0>;
		backlight = <&rpi_display_bl>;
		power-supply = <&rpi_display_power>;
		iovcc-supply = <&rpi_display_power>;
		reset-gpios = <&rpi_panel_mcu 0 GPIO_ACTIVE_LOW>;

		port {
			mipi_panel_in: endpoint {
				remote-endpoint = <&dsi0_out_panel>;
			};
		};
	};
};

&dsi0_in {
	dsi0_in_vp3: endpoint {
		remote-endpoint = <&vp3_out_dsi0>;
	};
};

&dsi0_out {
	dsi0_out_panel: endpoint {
		remote-endpoint = <&mipi_panel_in>;
	};
};

&i2c8 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c8m2_xfer>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	rpi_panel_mcu: gpio@45 {
		compatible = "raspberrypi,touchscreen-panel-regulator-v2";
		reg = <0x45>;
		gpio-controller;
		#gpio-cells = <2>;
		#pwm-cells = <3>;
	};

	touchscreen@5d {
		compatible = "goodix,gt911";
		reg = <0x5d>;
		AVDD28-supply = <&rpi_touch_power>;
		touchscreen-size-x = <720>;
		touchscreen-size-y = <1280>;
		touchscreen-x-mm = <90>;
		touchscreen-y-mm = <151>;
	};
};

&mipidcphy0 {
	status = "okay";
};

&vp3 {
	#address-cells = <1>;
	#size-cells = <0>;

	vp3_out_dsi0: endpoint@ROCKCHIP_VOP2_EP_MIPI0 {
		reg = <ROCKCHIP_VOP2_EP_MIPI0>;
		remote-endpoint = <&dsi0_in_vp3>;
	};
};
